.snake-ladder-cell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cell-value{
    font-size: 30px;
    margin: 0px 20px;
    align-items: center;
}

.cell-desc{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ladder-desc,
.snake-desc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ladder-img,
.snake-img{
    width: 20px;
    height: 20px;
}

